<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <customErrors mode="On" defaultRedirect="~/Error/General">
      <error redirect="~/Error/HttpError404" statusCode="400" />
      <error redirect="~/Error/HttpError404" statusCode="404" />
    </customErrors>

  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="404" />
      <error
        statusCode="400"
        path="/Errors/BadRequest"
        responseMode="ExecuteURL" />
      <error
        statusCode="404"
        path="/Errors/PageNotFound"
        responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  
</configuration>