
@{
    ViewData["Title"] = "Footer";
}


@if (User.Identity.IsAuthenticated)
{
    <footer class="footer">
        <div class="row justify-content-xl-between">
            <div class="col-xl-12">
                <div class="copyright text-xl-left text-muted">
                    <a href="https://github.com/nettashviro/MovieApp" class="font-weight-bold ml-1" target="_blank">MovieApp</a> |
                    <a href="https://twitter.com/actionT14800076?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-lang="he" data-show-count="false">Follow actionT14800076</a> |
                    <a href="https://www.creative-tim.com/live/argon-dashboard-asp-net" class="font-weight-bold ml-1" target="_blank">UI components example</a>

                </div>
            </div>
        </div>
    </footer>
}

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
