
@{
    ViewData["Title"] = "Navbar";
}

<!-- Navigation -->
    <ul class="navbar-nav sidebarLink">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Movies" asp-action="Index">
                <i class="fa fa-film"></i> מאגר הסרטים
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Officials" asp-action="Index">
                <i class="fa fa-person-booth"></i> בעלי התפקידים
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Soundtracks" asp-action="Index">
                <i class="fa fa-person-booth"></i> מאגר פסקולים
            </a>
        </li>

        @* TODO: ADD LINKS *@

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-eye"></i> סרטים שראיתי
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-list"></i> רשימת צפייה
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Graphs" asp-action="Index">
                <i class="fa fa-chart-pie"></i> חיפוש מתקדם
            </a>
        </li>
    </ul>

