@model MovieApp.Models.Movie

@{
    ViewData["Title"] = "מפת הסרטים";
}

<h1 style="text-shadow: 2px 2px lightgray;">מפת הסרטים</h1>

<partial name="../Shared/Map.cshtml"/>

<style type="text/css">
    #map {
        height: 50vw;
    }
</style>