@model MovieApp.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">יצירת סרט</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form id="movieForm" asp-action="Create" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-name"></label>
                                <label asp-for="Name" class="control-label"></label>
                                <input id="movieNameHebrew" asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Country" class="control-label"></label>
                                <select asp-for="Country" asp-items="@(new SelectList(ViewBag.Countries, "Value", "Text"))" class="form-control">
                                    <option></option>
                                </select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Language" class="control-label"></label>
                                <select asp-for="Language" asp-items="@(new SelectList(ViewBag.Languages, "Value", "Text"))" class="form-control">
                                    <option></option>
                                </select>
                                <span asp-validation-for="Language" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Year" class="control-label"></label>
                                <input asp-for="Year" min="1900" max="2099" class="form-control" value="2020" />
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Genre" class="control-label"></label>
                                <select asp-for="Genre" asp-items="Html.GetEnumSelectList<Movie.MovieGenre>()" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Duration" class="control-label"></label>
                                <input asp-for="Duration" class="form-control" min="0" max="220">
                                <span asp-validation-for="Duration" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TrailerUrl" class="control-label"></label>
                                <input asp-for="TrailerUrl" class="form-control" />
                                <span asp-validation-for="TrailerUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Rating" class="control-label"></label>
                                <input asp-for="Rating" class="form-control" />
                                <span asp-validation-for="Rating" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <input asp-for="Image" accept="image/*" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MovieIdInOmdb" class="control-label"></label>
                                <input id="OmdbId" asp-for="MovieIdInOmdb" class="form-control" />
                                <span id="validtionSpanOmdbId" asp-validation-for="MovieIdInOmdb" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <asp:Button id="OMDBButton" class="btn btn-info" UseSubmitBehaviour="false">חפש במאגר OMDB</asp:Button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="יצירה" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">תוצאות חיפוש מOMDB</h3>
            </div>
            <div class="table-responsive">
                <table id="resultTable" class="table align-items-center table-flush table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">מזהה</th>
                            <th scope="col">שם</th>
                            <th scope="col">תאריך יציאה</th>
                        </tr>
                    </thead>
                    <tbody style="cursor: pointer;">
                                         
                    </tbody>
                </table>
            </div>
            <div id="resultMessage" class="card-footer py-4">
              
            </div>
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/searchMovieId.js" asp-append-version="true"></script>
}

