@model MovieApp.Models.AccountViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row" style="min-height:500px">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="intro">
            <h2>Hello!</h2>
            <h6>Not a member already!? <a asp-action="Register">Create an Account Now!</a></h6>
        </div>

        <form class="user" asp-action="Login">
            <div class="form-group">
                <input class="form-control form-control-user" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
            </div>
            
            <div class="form-group">
                <input type="password" class="form-control form-control-user" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Login
            </button>
        </form>
        <hr />
        <div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
        </div>
        <div class="text-center">
            <a class="small" asp-action="Register">Create an Account!</a>
        </div>

        @if (ViewData["Message"] != null && ViewData["Message"].ToString() != "")
        {
            <div class="alert alert-danger">@ViewBag.Message</div>
        }
       
    </div>
</div>










@*<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
        </div>
        <form class="user" asp-action="Login">
            <div class="form-group">
                <input class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Login
            </button>
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
        </div>
        <div class="text-center">
            <a class="small" asp-action="Register">Create an Account!</a>
        </div>
    </div>
</div>-->*@