@model MovieApp.Models.AccountViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">

            <div class="card-body px-lg-5 py-lg-5" >
                <div class="text-center text-muted mb-4" dir="rtl">
                    <small>נרשמת כבר?</small>
                    <br />
                    <strong> <a asp-action="Login">התחבר עכשיו!</a></strong>
                </div>
                <form asp-action="Register" method="post" role="form" dir="ltr"  enctype="multipart/form-data">
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty] != null)
                    {
                        @foreach (var error in @ViewData.ModelState[string.Empty]?.Errors)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span>@error.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        }
                    }
                    @if (ViewData.ContainsKey("Message"))
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span> @ViewData["Message"]</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    }

                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-hat-3"></i>
                                </span>
                            </div>
                            <input asp-for="Username" class="form-control" placeholder="שם משתמש" type="text" required />
                        </div>
                        <span asp-validation-for="Username" class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-email-83"></i>
                                </span>
                            </div>
                            <input asp-for="Email" class="form-control" placeholder="מייל" type="email" required />
                        </div>
                        <span asp-validation-for="Email" class="invalid-feedback" style="display: block"></span>

                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-lock-circle-open"></i>
                                </span>
                            </div>
                            <input asp-for="Password" class="form-control" type="password" required />
                        </div>
                        <span asp-validation-for="Password" class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-lock-circle-open"></i>
                                </span>
                            </div>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" required />
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="form-group ">
                         <div class="post-image-collection">
            <div class="post-image empty">
                <div class="upload-section">
                    <input asp-for="ProfileImage" class="form-control upload-img" accept="image/*" />
                <label class="icon-camera" for="ProfileImage">
                    <img src=@("/img/icons/cameraPlus.png") />
                </label>
                <p class="uppercase">תמונת פרופיל</p>
            </div>
            <div class="preview-section"></div>

        </div>
        <span asp-validation-for="ProfileImage" class="text-danger"></span>


    </div>

                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary mt-4" type="submit">צור משתמש</button>
                    </div>
</form>
            </div>
        </div>
    </div>
</div>

@section VideoSection{

    <video id="montageVideo" autoplay muted loop poster="/img/logo.png">
        <source src="/video/montage.mp4" type="video/mp4">
    </video>
    <div id="videoOverlay">
    </div>
}
