@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">סרטים במאגר</h5>
                        <span class="h2 font-weight-bold mb-0">@(ViewBag.MovieCount)</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fa fa-film"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">בעלי תפקידים</h5>
                        <span class="h2 font-weight-bold mb-0">@(ViewBag.OfficialCount)</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                            <i class="fa fa-person-booth"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">פסקולים</h5>
                        <span class="h2 font-weight-bold mb-0">@(ViewBag.SoundtrackCount)</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                            <i class="fa fa-play-circle"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">משתמשים</h5>
                        <span class="h2 font-weight-bold mb-0">@(ViewBag.UsersCount)</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row" style="margin-top: 20px;">
    <div class="col-xl-8 order-xl-2">
        <div class="card card-stats mb-4 mb-xl-0" style="height: 706px;">
            <div class="card-body">
                <partial name="../Shared/Map.cshtml" />
            </div>
        </div>

    </div>
    <div class="col-xl-4 order-xl-1">
        <div class="card bg-secondary shadow">
            <form method="POST" action="/profile">
                <a class="twitter-timeline" data-lang="he" data-width="500" data-height="700" data-theme="light" href="https://twitter.com/actionT14800076?ref_src=twsrc%5Etfw">Tweets by actionT14800076</a>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8DIUkc8ixA9IlF27GQXYfB5rdRLACDcQi7zGuxZoKplHiTVWmOFxfBX6WbXafth-x_Decc3A-2LOS3MgJPujNCgx97KEtztQDM3LYYbNSIbGuf5OxFLlMsLmOzoO5n6yHnT9oY42YpoHD1hjryp77Z7KTb8L5FwBh6DgdVlOGh1keAUM379yBA-c1_-CRbC2Zw">
            </form>
        </div>
    </div>
</div>




<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<style type="text/css">
    #map {
        height: 650px;
    }
</style>