@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="twitter-timeline" data-lang="he" data-width="300" data-height="300" data-theme="light" href="https://twitter.com/actionT14800076?ref_src=twsrc%5Etfw">Tweets by actionT14800076</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
