@{
    ViewData["Title"] = "אודות";
}
<h1 style="text-shadow: 2px 2px lightgray;">@ViewData["Title"]</h1>

<div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">      
          <h3 class="mb-0">בקצרה עלינו</h3>             
    </div>
    <div class="card-body">       
        <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group focused">
                            ארבעת חברים חובבי סרטים מושבעים
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group focused" style="text-align: left;">
                            <p>
                                “The whole of life is just like watching a film. Only it's as though you always get in ten minutes after the big picture has started, and no-one will tell you the plot, so you have to work it out all yourself from the clues.”</p>
                                <aside>
                                    <p>Terry Pratchett, Moving Pictures</p>
                            </aside>                          
                        </div>
                    </div>                   
                </div>
            </div>
    </div>
</div>