@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="fb-login-button" onlogin="checkLoginState();" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="false" data-width=""></div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v8.0&appId=225814592151797&autoLogAppEvents=1" nonce="Avn27uAj"></script>

<script>


    window.fbAsyncInit = function () {
        FB.init({
            appId: '225814592151797|l4fOcMQFm4BtHRcPenRyJdJ3UVM',
            cookie: true,
            xfbml: true,
            version: 'v8.0'
        });

        FB.AppEvents.logPageView();

    };

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>