<br />
<div class="jumbotron">
    <h2>Access Denied</h2>
    <p>
        <div class="alert alert-danger">
            The requested action is restricted for admin use only!
        </div>
    </p>
</div>
