@model MovieApp.Models.Soundtrack

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">עריכת פסקול</h3>
                    </div>
                </div>
            </div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Duration" class="control-label"></label>
                                <input asp-for="Duration" class="form-control" />
                                <span asp-validation-for="Duration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Writer" class="control-label"></label>
                                <input asp-for="Writer" class="form-control" />
                                <span asp-validation-for="Writer" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Performer" class="control-label"></label>
                                <input asp-for="Performer" class="form-control" />
                                <span asp-validation-for="Performer" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-primary">בחזרה לרשימה</a>
                        <input type="submit" value="שמירה" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
